<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>833856336406-h06n5tabmhs4m69bvuqqojh4k49c64c4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.833856336406-h06n5tabmhs4m69bvuqqojh4k49c64c4</string>
	<key>API_KEY</key>
	<string>AIzaSyCnFODE-AZBIiSB58B7pfSvNmwPK6P2FQY</string>
	<key>GCM_SENDER_ID</key>
	<string>833856336406</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.inventoryFlutter</string>
	<key>PROJECT_ID</key>
	<string>atlas-madness</string>
	<key>STORAGE_BUCKET</key>
	<string>atlas-madness.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:833856336406:ios:59053e89610fda4b283b37</string>
</dict>
</plist>